footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 40px !important;
  width: 100% !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
}