<form class="col-lg-6 mx-auto">
  <div class="form-group">
    <label for="exampleInputEmail1">Lien Ygg à envoyer</label>
    <input type="text" class="form-control" id="link" aria-describedby="emailHelp" placeholder="Saisir lien ygg">
  </div>
  <button type="submit" class="btn btn-primary" id ='demo'>Submit</button>
</form>